html {
	font-size: 20px;
}

body {
	background-color:  #F3E6D9;
	margin: 2rem;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Italiana', 'serif';
}

h2 {
	display: flex;
	justify-content: center;
	font-family: 'Italiana', 'serif';
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #C3C1C1;
	margin: 1em 0;
	padding: 0;
}

.fall-button {
	font-family: 'Judson', 'serif';
	color: white;
	background-color: #A56021;
	padding: 1rem 2rem;
	border-radius: 50px;
	size: 20rem 20rem;
	font-size: 1rem;
	margin: 40px 20px;
}


.chosen-button {
	font-family: 'Judson', 'serif';
	color: white;
	background-color: #433D3D;
	padding: 1rem 2rem;
	border-radius: 50px;
	size: 20rem 20rem;
	font-size: 1rem;
	margin: 40px 20px;

}

nav {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin: 10px auto; 
}



main {
	width: 100vw;
	height: 100vh;
	max-width: 900px;
}

.hero-image {
	width: 95vw;
	height: 25rem;
	overflow: hidden;
	
}

.hero-image img {
	width: 100%;
	height: auto;
}

p {
	font-family: 'Judson', 'serif';
	font-size: 24px;
	text-align: center;
	width: 95vw;
	margin-top: 1rem;

}

section {
	display: flex;
	flex-flow: row;
	gap: 15px;
	justify-content: space-between;
	align-items: flex-start;
}

.links {
	background-color: #e4e2e2;
	/*flex-direction: column;
	justify-content: flex-start;
	height: 200px;
	width: 200px;
	margin: 20px;*/
	font-size: 0.9rem;
}

img {
	max-width: 400px;
	flex-flow: column;
}