html {
	font-size: 20px;
}

body {
	background-color:  #F3E6D9;
	margin: 2rem;
}


/* Added a so that we can style the color of the link*/
h1 a {
	display: flex;
	justify-content: center;
	font-family: 'Italiana', 'serif';
	text-decoration: none;
	color: black;
}

h2 {
	display: flex;
	justify-content: center;
	font-family: 'Italiana', 'serif';
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #C3C1C1;
	margin: 1em 0;
	padding: 0;
}


.fall-button {
	font-family: 'Judson', 'serif';
	color: white;
	background-color: #A56021;
	padding: 1rem 2rem;
	border-radius: 50px;
	size: 20rem 20rem;
	font-size: 1rem;
	margin: 40px 20px;
}


.chosen-button {
	font-family: 'Judson', 'serif';
	color: white;
	background-color: #433D3D;
	padding: 1rem 2rem;
	border-radius: 50px;
	size: 20rem 20rem;
	font-size: 1rem;
	margin: 40px 20px;
}

nav {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin: 10px auto; 
}

nav button a {
	text-decoration: none;
	color: white;
}

main {
	width: 100vw;
	height: 100vh;
	max-width: 900px;
}

.hero-image {
	width: 95vw;
	height: 25rem;
	overflow: hidden;
}

.hero-image img {
	width: 100%;
	height: auto;
}

.intro {
	font-family: 'Judson', 'serif';
	font-size: 24px;
	text-align: center;
	width: 95vw;
	margin-top: 1rem;
}

.image {
	grid: ;
	margin: 8px 8px;
	padding: 10px;
	height: 200px;
	/*height: 200px;
	width: 200px;
	/*margin: 20px;*/
}

.links {
	background-color: #d0c9b6;
	margin: 8px 8px;
	padding: 10px;
	font-size: 0.9rem;
	font-family: 'Judson', 'serif';
	height: 200px;
	/*height: 200px;
	width: 200px;
	/*margin: 20px;*/
}

/* going to ad a psuedo class to links, so that the links looks better - Effie*/
section {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr); 
	grid-template-rows: minmax(200px, auto);
	justify-content: center;

	/*justify-content: space-between;
	flex-wrap: wrap; 
	margin: 30px 10px;
	flex-flow: row;
	gap: 15px;
	width: 1500px;*/
}

section div a {
	text-decoration: none;
	color: #A56021;
}
/*added 
	media to make the links responsive. Used flex on nav to make it lay under eachother, and grid on links*/
@media screen and (max-width: 768px) {
	body {
		flex-direction: column;
	}
	nav {
		display: flex;
		flex-direction: column;
	}
	section {
		display: grid;
		grid-template-columns: repeat(1, 1fr); 
	}
}

@media screen and (min-width: 768px) {
	section {
		display: grid;
	}
}